.section__about{
    font-family: $Font;
    @include container (1080px, 0 auto);
    @include flex-column (column);
    padding: 1.5rem;
    &__trabajos{
        @include flex-column (column);
        background-color: $ColorTwo;
        flex-basis: 35%;
        padding: 1rem;
        margin: 2rem;
        h3{
            font-size: 1.5em;
            color: $ColorText;
            text-align: center;
        }
        .trabajo1{
            margin: .8rem;
        }
        .trabajo2{
            margin: .8rem;
            margin-top: 3rem;
        }
        p{
            font-size: 1.5em;
            color: $ColorText;
            text-align: center;
        }
    }
    &__title{
        text-align: center;
        font-size: map-get($font-size , title);
    }
    article{
        font-size: map-get($font-size , content); 
        text-align: center;
        color: $ColorText;
        padding: 2rem;
    }
    h2{
        color: $ColorOne;
        font-size: map-get($font-size , subtitle);
        font-family: $Font;
        text-align: center;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 768px){
    .section__about{
        @include flex-column (column);
        &__title{
            font-size: map-get($font-size, title-query );
        }
        h2{
            font-size: 25px;
        }
        article{
            font-size: map-get($font-size , content-query );
        }
    }
}