.SectionHome{
    @include container (1080px, 0 auto);
    @include flex-row (row);
    align-items: center;
    text-align: center;

    article{
        font-size: 30px;
        color: $ColorText;
    }
    h1{
        font-size: 150px;
        flex-basis: 35%;
        justify-content: center;
        line-height: 15.5rem;
    }
    h2{
        color: $ColorOne;
        font-size: 60px;
        flex-basis: 45%;
        line-height: 6.4rem;
        text-align: center;
    }
    div{
        flex-basis: 50%;
        justify-content: center;
    }
}
@media screen and (max-width: 768px){
    .SectionHome{
        min-width: 320px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 100px;
            line-height: 115px;
        }
        h2 {
            font-size: 30px;
            line-height: 35px;
        }
        article {
            font-size: map-get($font-size , content);
        }
    }
}